.card {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;

    transition-duration: var(--animation-speed);
    transition: background-color;
    &:hover {
        background-color: var(--link-hover);
    }
    &:active {
        box-shadow: 0 0 0 2px var(--focus);
        transform: translateY(2px);
    }

    > a {
        text-decoration-line: none;
        > h2 {
            margin: 0px;
        }
        > p,
        div {
            color: var(--text-deep);
            margin: 0px;
        }
        > div {
            display: inline;
            margin-right: 10px;
        }
    }
}
