@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.title {
    font-family: "Pixelify Sans", ui-monospace, monospace;
    font-size: x-large;
    font-weight: bold;
    margin: auto 0 auto 0;

    text-decoration-line: none;
}

.nav {
    list-style-type: none;
    display: inline-block;

    > ul > li {
        display: inline;
        margin-inline: 10px;
    }
}

.header {
    width: 100%;
    display: inline;
}