.tags {
    display: inline;
    list-style-type: none;
    padding-left: 0px;
    > li {
        display: inline;
        + li::before {
            content: ", ";
        }
        > a::before {
            content: "#";
        }
    }
}