---

---

<form id="filter">
    <label for="search-filter">Sort by</label>
    <select name="search" id="search-filter">
        <option value="pubdate">Publish time</option>
        <option value="moddate">Last Edit time</option>
        <option value="title">Title</option>
    </select>
    <label for="order-filter">in</label>
    <select name="order" id="order-filter">
        <option value="asc">Ascending order</option>
        <option value="desc">Descending order</option>
    </select>
</form>

<script src="./Filter.ts"></script>
