---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found">
    <h1>Page not found</h1>
    <p>Cannot found the page you're requesting.</p>
    <p>Maybe take a look at somewhere else?</p>
</BaseLayout>
