---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/list/PostCard.astro";
import Filter from "../../components/list/filter.svelte";
interface Props {
    sort?: (a: any, b: any) => number;
}
const { sort = (a, b) => b.data.pubDate - a.data.pubDate } = Astro.props;

const allPosts = await getCollection("posts");
allPosts.sort(sort);
---

<BaseLayout title="Posts">
    <h1 transition:persist>Posts</h1>
    <Filter load:client transition:persist />
    <ul style="list-style: none; padding: 0px;">
        {
            allPosts.map((post) => (
                <li>
                    <PostCard data={post} />
                </li>
            ))
        }
    </ul>
    <button>Click me</button>
</BaseLayout>
