---
import styles from "../styles/components/header.module.css"
---

<header class={styles.header}>
    <a href="/" class={styles.title}>DigitalWolf</a>
    <nav class={styles.nav}>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
