---
import { Icon } from "astro-icon/components";
import styles from "../styles/components/title.module.css";

import { type postType } from "../content/posts/config";
import TitleDateTime from "./titleDateTime.astro";
const data: postType = Astro.props.data;
---

<h1>{data.title || "Untitled"}</h1>
<div class={styles.info}>
    {
        data.author && (
            <div>
                <Icon name="material-symbols:person-edit-outline-rounded" />
                <i>Author: {data.author}</i>
            </div>
        )
    }
    <TitleDateTime pubDate={data.pubDate} />
</div>
{
    data.description && (
        <details>
            <summary>Description</summary>
            {data.description}
        </details>
    )
}
