---
import { Icon } from "astro-icon/components";
interface Props {
    pubDate?: Date;
    modDate?: Date;
    language?: string;
    mini?: boolean;
}
const { pubDate, modDate, language = "en-US", mini = false } = Astro.props;
---

{
    pubDate && (
        <div>
            <Icon name="material-symbols:calendar-today-outline-rounded" />
            <i class="pub" title={pubDate.toISOString()}>
                {!mini && " Published on: "}
                {pubDate.toLocaleDateString(language)}
            </i>
        </div>
    )
}
{
    modDate && (
        <div>
            <Icon name="material-symbols:edit-calendar-outline-rounded" />
            <i class="mod" title={modDate.toISOString()}>
                {!mini && " Last edited on: "}
                {modDate.toLocaleDateString(language)}
            </i>
        </div>
    )
}

<script src="./DateTime.ts"></script>
