---
import { Icon } from "astro-icon/components";
interface Props {
    pubDate?: Date;
    modDate?: Date;
    language?: string;
}
const { pubDate, modDate, language = "en-US" } = Astro.props;
---

{
    pubDate && (
        <div>
            <Icon name="material-symbols:calendar-today-outline-rounded" />
            <i class="pub" title={pubDate.toISOString()}>
                Publish on:
                {pubDate.toLocaleDateString(language)}
            </i>
        </div>
    )
}
{
    modDate && (
        <div>
            <Icon name="material-symbols:edit-calendar-outline-rounded" />
            <i class="mod" title={modDate.toISOString()}>
                Last edit on:
                {modDate.toLocaleDateString(language)}
            </i>
        </div>
    )
}

<script src="./dateTime.ts"></script>
