---
import type { postType } from "../../content/posts/config";
import style from "../../styles/components/card.module.css";
const post: postType = Astro.props.data.data;
const slug: string = Astro.props.data.slug;
---

<div class={style.card}>
    <a href={`./post/${slug}`}>
        <h2>{post.title}</h2>
        <p>{post.description}</p>
    </a>
</div>
